@require './variables'
@require './mixins'

// utility classes
.v-xl
  height 860px
  overflow hidden

.v-large
  min-height 540px

.v-medium
  min-height 480px

.v-small
  min-height 360px

.h-xl
  width 860px
  overflow hidden

.h-large
  max-width 540px

.h-medium
  max-width 480px

.h-small
  max-width 360px

.rel-base
  position relative

.text-center
  text-align center

.txt-btn
  // display block
  cursor pointer
  &:hover
    text-decoration underline

  &.shaped
    padding ($size-unit / 4) ($size-unit / 2)

    &.medium
      padding ($size-unit / 2) ($size-unit)

    &.large
      padding ($size-unit / 2) ($size-unit * 1.5)

    &.radius
      border-radius 2px

  &-default
    background $grey
    color white

  &-primary
    background $primary-color
    color white

  &-accent
    background $accent-color
    color white

  &-success
    background $success
    color white

  &-warning
    background $warning
    color white

  &-danger
    background $danger
    color white

  > .icon-btn
    & + span
      margin-left .5em

.txt-btn-group
  &.pos-right
    display inline-block

.txt-center
  text-align center

.table-cell-middle
  display table-cell
  vertical-align middle
  text-align center

.badge
  badge()

.badge-accent
  badge()
  accent()

// used for one page starter, put some text in <p> and it would be in middle at vertical and center at horizontal
.main-tips-wrapper
  height: 100vh
  width: 100%
  display table
  vertical-align: middle

  p
    display: table-cell
    vertical-align: middle
    text-align center

// the animation elem wrapper
.spread-wrapper
  &-x
    overflow-x hidden
  &-y
    overflow-y hidden
  overflow hidden

.lh-4
  line-height 4 * $size-unit !important

.pos-right
  position absolute
  right 0

.icon-btn
  cursor pointer

// text
.text-primary
  color $primary-color

.text-accent
  color $accent-color

.text-success
  color $success

.text-warning
  color $warning

.text-danger
  color $danger

html[lang="zh-cmn-Hans"]
  // todo: use '……' with Firefox
  .to-ellipsis
    text-overflow ellipsis

// tips
.icon-tips
  & + .icon-tips-panel
    transition $show-transition
    display none
    visibility hidden
    opacity 0

  &:hover + .icon-tips-panel,
  & + .icon-tips-panel:hover,
  &-wrapper:hover > .icon-tips-panel
    transition $show-transition
    display block
    visibility visible
    opacity 1

  &-panel
    background black
    color white
    padding ($size-unit / 2) $size-unit
    position absolute
    border-radius ($size-unit / 2)

    &.right-center
      top -0.3em
      right -10.5em

  &-wrapper
    z-index $layer19
    position relative
    // overflow-y visible

.invisible, .hidden
  visibility hidden !important
/**
 *
 *  get the utility class such as
 *   .mr-xs
 *     margin-right ($size-unit / 2)
 *   .mr-sm
 *     margin-right $size-unit
 *   .ml-xs
 *     margin-left ($size-unit / 2)
 *   .ml-sm
 *     margin-left $size-unit
 */
for name in ('margin' 'padding')
  prefixer = substr(name, 0, 1)
  for direction in $directions
    dprefixer = substr(direction, 0, 1)
    .{prefixer}{dprefixer}-xs
      {name}-{direction} ($size-unit / 2)

    .{prefixer}{dprefixer}-sm
      {name}-{direction} $size-unit

    .{prefixer}{dprefixer}-md
      {name}-{direction} ($size-unit * 2)

    // grande
    .{prefixer}{dprefixer}-gd
      {name}-{direction} ($size-unit * 3)

    .{prefixer}{dprefixer}-lg
      {name}-{direction} ($size-unit * 4)

    // venti
    .{prefixer}{dprefixer}-vt
      {name}-{direction} ($size-unit * 6)

    .no-{prefixer}{dprefixer}
      {name}-{direction} 0
/**
 *
 *  get the utility class such as
 *   .no-margin-right
 *     margin-right 0
 *   .no-padding-top
 *     padding-top 0
 */
for direction in $directions
  .no-margin-{direction}
    margin-{direction} 0 !important
  .no-padding-{direction}
    padding-{direction} 0 !important

/**
 */
ut_gen_dir(name, size, dir)
  if dir is 'v'
    {name}-top size
    {name}-bottom size
  if dir is 'h'
    {name}-left size
    {name}-right size

for name in ('margin' 'padding')
  for size, time in $times_of_size
    .{name}-v-{size}
      ut_gen_dir(name, $size-unit * time, 'v')
    .{name}-h-{size}
      ut_gen_dir(name, $size-unit * time, 'h')

    .{name}-{size}
      {name} $size-unit * time

for number in 1...9
  .lh1_{number}
    line-height (1 + number * 0.1)

  .em{number}
    font-size number * 1em

  .w-em{number}
    width number * 1em

  .mw-min{number}
    min-width number * 1em

// table
.no-border-spacing
  border-spacing 0 !important

[lang="zh-cn"]
  .colon-after
    &:after
      content: "："

.colon-after
  &:after
    content: ":"
